/* CTAs */
button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: var(--font-family);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--full-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-lg);
}

.btn--primary:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}

.btn--ghost {
    background-color: var(--neutral-off-white);
    color: var(--neutral-very-dark-blue);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);
}

.btn--ghost:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--neutral-dark-blue);
    color: var(--neutral-dark-blue);
    font-weight: 600;
}

.btn--secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-light);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
}

.btn--secondary:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

.btn--outlined {
    background: transparent;
    color: var(--full-white);
    border: 2px solid var(--full-white);
    width: 100%;
    padding: var(--spacing-sm) 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    margin-top: var(--spacing-md);
}

.btn--outlined:hover {
    background: var(--full-white);
    color: var(--primary-color);
    font-weight: 600;
}