* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors  */
    --primary-color: #5265E1;
    --primary-light: #e7eafb;
    --secondary-color: #FA5959;
    --secondary-light: #f8e3e3;
    --brand-white: #f6f5f5;
    --full-white: #ffffff;
    --neutral-off-white: #f7f7f7;
    --neutral-gray: #9194a1;
    --neutral-gray-50-opacity: rgba(145, 148, 161, 0.5);
    --neutral-dark-blue: #242946;
    --neutral-very-dark-blue: #1d1d1d;
    --dark-blue-transparent: rgba(36, 41, 70, 0.95);
    --transparent-grey: rgba(255, 255, 255, 0.15);

    /* Typography */
    --font-family: 'Lato', sans-serif;
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 30px;
    --font-size-xxl: 36px;

    /* Font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;

    /* Border radius */
    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    --border-radius-lg: 10px;

    /* Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 8px 16px rgba(82, 101, 225, 0.2);
}

body {
    font-family: var(--font-family);
    color: var(--neutral-very-dark-blue);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--neutral-very-dark-blue);
    margin-bottom: var(--spacing-sm);
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-md);
}

p {
    color: var(--neutral-gray);
    text-align: center;
    margin-bottom: var(--spacing-md);
    padding: 0 var(--spacing-lg);
    line-height: 1.5;
}

a:hover {
    color: var(--secondary-color);
}

/* CTAs */
button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: var(--font-family);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--full-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-lg);
}

.btn--primary:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}

.btn--ghost {
    background-color: var(--neutral-off-white);
    color: var(--neutral-very-dark-blue);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);
}

.btn--ghost:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--neutral-dark-blue);
    color: var(--neutral-dark-blue);
    font-weight: 600;
}

.btn--secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-light);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
}

.btn--secondary:hover {
    background-color: var(--neutral-off-white);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

.btn--outlined {
    background: transparent;
    color: var(--full-white);
    border: 2px solid var(--full-white);
    width: 100%;
    padding: var(--spacing-sm) 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    margin-top: var(--spacing-md);
}

.btn--outlined:hover {
    background: var(--full-white);
    color: var(--primary-color);
    font-weight: 600;
}

/* Navigation */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--full-white);
    padding: var(--spacing-md) var(--spacing-lg);
}

.header-nav__desktop-container {
    display: none;
}

.header-nav__desktop-list {
    display: flex;
}

.header-nav__desktop-list li {
    color: var(--neutral-gray);
    text-decoration: none;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    list-style-type: none;
    margin: var(--spacing-sm);
}

.header-nav__desktop-list li a {
    color: var(--neutral-gray);
    text-decoration: none;
}

.header-nav__desktop-list a:hover {
    color: var(--secondary-color);
}

.header-nav__burger-btn {
    display: block;
}

/* Mobile menu */
.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--dark-blue-transparent);
    padding: 0 var(--spacing-lg);
    z-index: 8;

}

.mobile-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md) 0;
    width: 100%;
    z-index: 10;
    position: relative;/
}

.mobile-menu__logo-wrapper img {
    height: 25px;

}

.mobile-menu__close-btn img {
    height: 20px;
}

.mobile-menu__list {
    margin-top: var(--spacing-xxl);
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-menu__list li {
    border-top: 1px solid var(--transparent-grey);
    padding: var(--spacing-md) 0;
}

.mobile-menu__list li:last-child {
    border-bottom: 1px solid var(--transparent-grey);
}

.mobile-menu__list li a {
    color: var(--full-white);
    text-decoration: none;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
}

.mobile-menu__list li a:hover {
    color: var(--secondary-color);
}

.mobile-menu__social-container {
    display: flex;
    gap: var(--spacing-lg);
    justify-content: center;
    margin-top: auto;
    padding-bottom: var(--spacing-sm);
    align-items: baseline;
    z-index: 999;
}

.mobile-menu__social-link img {
    width: 24px;
    height: 24px;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-lg) 0;
}

.hero__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__image-bg {
    position: absolute;
    width: 60%;
    height: 70%;
    background-color: var(--primary-color);
    border-radius: 50% 0 0 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__image {
    width: 100%;
}

.hero__text {
    padding: 0 var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.hero__cta-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    padding: 0 var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
}

/* Features section */
.features {
    padding: var(--spacing-xl) 0;
}

.features__tab-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.features__tab-btn {
    position: relative;
    padding: var(--spacing-md) 0;
    border: none;
    border-bottom: 1px solid var(--neutral-gray-50-opacity);
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.features__tab-btn:first-child {
    border-top: 1px solid var(--neutral-gray-50-opacity);
}

.features__tab-btn h3 {
    color: var(--neutral-gray);
    margin: 0;
    transition: color 0.3s ease;
}

.features__tab-btn h3:hover {
    color: var(--neutral-very-dark-blue);
}

.features__tab-btn.is-active h3 {
    color: var(--neutral-very-dark-blue);
}

.features__tab-indicator {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 4px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.features__tab-btn.is-active .features__tab-indicator {
    transform: scaleX(1);
}

/* Tab Panels */
.features__panel-container {
    width: 100%;
    margin-top: var(--spacing-lg);
}

.features__panel {
    display: none;
    flex-direction: column;
    align-items: center;
}

.features__panel.is-active {
    display: flex;
}

.features__image-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}

.features__image-bg {
    position: absolute;
    width: 60%;
    height: 90%;
    background-color: var(--primary-color);
    border-radius: 0% 0 50% 0%;
    left: 0;
    bottom: -10%;
    z-index: -1;
}

.features__image {
    width: 80%;
    max-width: 500px;
    z-index: 1;
}

.features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--spacing-md);
    text-align: center;
    margin-top: var(--spacing-md);
}

.features__content .btn--primary {
    margin-top: var(--spacing-md);
}

/* Download section */
.download {
    padding: var(--spacing-xl) 0;
}

.download__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    padding: 0 var(--spacing-lg);
}

.download__card {
    background-color: var(--full-white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 100%;
    max-width: 281px;
    min-width: 249px;
    padding: var(--spacing-lg) var(--spacing-md);
    text-align: center;
}

.download__card img {
    margin-bottom: var(--spacing-md);
}

.download__card-content {
    margin-bottom: var(--spacing-md);
}

.download__card-content h3 {
    margin-bottom: var(--spacing-xs);
}

.download__card-content p {
    font-size: var(--font-size-xs);
    padding: 0;
    margin-bottom: 0;
}

.download__card-divider {
    background-image: url('assets/bg-dots.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    margin: var(--spacing-md) 0;
}

.download__card-btn-container {
    margin-top: var(--spacing-md);
}

/* FAQ section */
.faq {
    padding: var(--spacing-xl) 0;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg) var(--spacing-sm);
}

.faq__questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--spacing-md);
    margin: 0 auto;
}

.faq__question-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-md) 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.faq__item {
    border-bottom: 1px solid var(--neutral-gray-50-opacity);
}

.faq__question-btn h4 {
    margin: 0 var(--spacing-xs);
    transition: color 0.3s;
    text-align: left;
}

.faq__question-btn:hover h4 {
    color: var(--secondary-color);
}

.faq__arrow-icon {
    stroke: var(--primary-color);
    transition: transform 0.3s,
        stroke 0.3s;
}

.faq__question-btn.is-active .faq__arrow-icon {
    transform: rotate(180deg);
    stroke: var(--secondary-color);
}

.faq__answer {
    line-height: 1.6;
    text-align: left;
}

.faq__answer p {
    padding: var(--spacing-sm);
    text-align: left;
}

.faq .btn--primary {
    width: 50%;
    align-self: center;
    margin-top: var(--spacing-lg);
}

/* Newsletter */
.cta {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    padding: var(--spacing-xl) var(--spacing-lg);
    margin-top: var(--spacing-xl);
}

.cta__text {
    margin-bottom: var(--spacing-lg);
}

.cta__subtitle {
    color: var(--primary-light);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: var(--font-size-xs);
    margin-bottom: var(--spacing-sm);
}

.cta__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.cta h2 {
    color: var(--primary-light);
    padding: 0 var(--spacing-md);
}

.cta input {
    height: 40px;
    width: 100%;
    border-radius: var(--border-radius-md);
    border-style: none;
    box-shadow: var(--box-shadow-md);
    padding: var(--spacing-md);
    color: var(--neutral-gray);
}

.cta__form input:focus {
    outline: 2px solid var(--secondary-color);
}

/* Footer */
.footer {
    background-color: var(--neutral-dark-blue);
    padding: var(--spacing-xl) var(--spacing-lg);
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    margin-bottom: var(--spacing-lg);
}

.footer__nav {
    margin-bottom: var(--spacing-lg);
    width: 100%;
}

.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.footer__links a {
    color: var(--full-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
}

.footer__links a:hover {
    color: var(--secondary-color);
}

.footer__social-links {
    display: flex;
    gap: var(--spacing-lg);
    align-items: baseline;
}

/* Utilities */
.is-hidden {
    display: none !important;
}

.icon {
    fill: var(--full-white);
}

.icon:hover {
    fill: var(--secondary-color);
}

/* Tablets/Desktop screens */
@media (min-width: 900px) {
    p {
        font-size: var(--font-size-md);
    }

    main {
        padding: var(--spacing-xxl);
    }

    .header-nav__burger-btn {
        display: none;
    }

    .header-nav__desktop-container {
        display: flex;
    }

    /* Hero section */
    .hero {
        flex-direction: row-reverse;
    }

    .hero__image {
        width: auto;
    }

    .hero__content {
        width: 40vw;
        flex-direction: row;
    }

    .hero__cta-container {
        flex-direction: row;
    }

    .hero__text {
        justify-content: start;
    }

    .hero__text p {
        text-align: left;
        padding: 0;
    }

    .hero__text h1 {
        text-align: left;
    }

    .hero__image-wrapper {
        flex-grow: 2;
    }

    /* Features section */
    .features p {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: var(--border-radius-lg);
    }

    .features__tab-nav {
        flex-direction: row;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .features__panel.is-active {
        flex-direction: row;
    }

    .features__tab-btn:first-child {
        border-top: none;
    }

    .features__content {
        justify-content: start;
        align-items: flex-start;
    }

    .features__content p {
        text-align: left;
        padding: 0;
    }

    /* Download section */
    .download__cards {
        flex-direction: row;
        align-items: flex-start;
    }

    #card-firefox {
        margin-top: 5%;
    }

    #card-opera {
        margin-top: 10%;
    }

    .download__text p {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    /* FAQ section */
    .faq {
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
    }

    .faq .btn--primary {
        width: auto;
    }

    .faq__text {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--spacing-md);
        width: 50vw;
    }

    /* Newsletter */
    .cta__form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cta input {
        width: 301px;
    }

    /* Footer */
    .footer__content {
        flex-direction: row;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .footer ul {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: var(--font-size-xxl);
    }
}